/* App.css */

/* App.css */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}


h1 {
  font-size: 36px;
  color: maroon;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  text-align: center;
}

.link-button {
  position: absolute;
 
  transform: translate(205%,90%);

  margin-top: 40px;
 
  padding: 12px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #555;
}
.link{
  text-align: center;
}


body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

 ul li {
  display: inline-block;
}

 ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.resume_container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.textarea-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555;
}

.preview_container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}



.text {
  font-size: 14px;
  margin-bottom: 10px;
}

.logo-container {
  position: relative;
}

.resume-logo {
  
  position: absolute;
  top: -265px;
  left: -200px;
  width: 80px;
  height: auto;
}
